<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <display-name>Car</display-name>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>confReloadCheckInterval</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>confPath</param-name>
      <param-value>/WEB-INF/urlrewrite.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>queryKeywordRank</servlet-name>
    <servlet-class>servlet.queryKeywordRank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryGoodsRank</servlet-name>
    <servlet-class>servlet.queryGoodsRank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryCategoryInfo</servlet-name>
    <servlet-class>servlet.queryCategoryInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryIndustryTrend</servlet-name>
    <servlet-class>servlet.queryIndustryTrend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryKeywordTrend</servlet-name>
    <servlet-class>servlet.queryKeywordTrend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryRelatedKeywords</servlet-name>
    <servlet-class>servlet.queryRelatedKeywords</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>executedDatastore</servlet-name>
    <servlet-class>servlet.executedDatastore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>executedWordstore</servlet-name>
    <servlet-class>servlet.executedWordstore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>executedIndustryTrendstore</servlet-name>
    <servlet-class>servlet.executedIndustryTrendstore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getIndustryTrend</servlet-name>
    <servlet-class>servlet.getIndustryTrend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getHotwords</servlet-name>
    <servlet-class>servlet.getHotwords</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gethotlongtailedwords</servlet-name>
    <servlet-class>servlet.gethotlongtailedwords</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getHotlist</servlet-name>
    <servlet-class>servlet.getHotlist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getGroupsurgelist</servlet-name>
    <servlet-class>servlet.getGroupsurgelist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCategoryinfo</servlet-name>
    <servlet-class>servlet.getCategoryinfo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>getHotwordRank</display-name>
  	<servlet-name>getHotwordRank</servlet-name>
  	<servlet-class>servlet.getHotwordRank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryHotWordCateListByLvl</servlet-name>
    <servlet-class>servlet.queryHotWordCateListByLvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>executedHotwords</servlet-name>
    <servlet-class>servlet.executedHotwords</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>executedWordTrendstore</servlet-name>
    <servlet-class>servlet.executedWordTrendstore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>servlet.detail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>executedDetailStore</servlet-name>
    <servlet-class>servlet.executedDetailStore</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>queryKeywordRank</servlet-name>
    <url-pattern>/queryKeywordRank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryGoodsRank</servlet-name>
    <url-pattern>/queryGoodsRank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryCategoryInfo</servlet-name>
    <url-pattern>/queryCategoryInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryIndustryTrend</servlet-name>
    <url-pattern>/queryIndustryTrend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryKeywordTrend</servlet-name>
    <url-pattern>/queryKeywordTrend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryRelatedKeywords</servlet-name>
    <url-pattern>/queryRelatedKeywords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>executedDatastore</servlet-name>
    <url-pattern>/executedDatastore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>executedWordstore</servlet-name>
    <url-pattern>/executedWordstore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>executedIndustryTrendstore</servlet-name>
    <url-pattern>/executedIndustryTrendstore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getIndustryTrend</servlet-name>
    <url-pattern>/getIndustryTrend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getHotwords</servlet-name>
    <url-pattern>/getHotwords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gethotlongtailedwords</servlet-name>
    <url-pattern>/gethotlongtailedwords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getHotlist</servlet-name>
    <url-pattern>/getHotlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getGroupsurgelist</servlet-name>
    <url-pattern>/getGroupsurgelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCategoryinfo</servlet-name>
    <url-pattern>/getCategoryinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getHotwordRank</servlet-name>
  	<url-pattern>/getHotwordRank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryHotWordCateListByLvl</servlet-name>
    <url-pattern>/queryHotWordCateListByLvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>executedHotwords</servlet-name>
    <url-pattern>/executedHotwords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>executedWordTrendstore</servlet-name>
    <url-pattern>/executedWordTrendstore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>executedDetailStore</servlet-name>
    <url-pattern>/executedDetailStore</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
