@font-face {
  font-family: 'iconfont';  /* project id 1975581 */
  src: url('//at.alicdn.com/t/font_1975581_qt5x4bmf8rp.eot');
  src: url('//at.alicdn.com/t/font_1975581_qt5x4bmf8rp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1975581_qt5x4bmf8rp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1975581_qt5x4bmf8rp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1975581_qt5x4bmf8rp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1975581_qt5x4bmf8rp.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'pingfang';
  src:url('//cdn.jsdelivr.net/gh/dfvips/jsdelivrcdn/font/PingFang.woff') format('woff');
}
*{
  padding: 0;
  margin:0;
  border: none;
  font-family: pingfang;
  animation-fill-mode:both;
}
.disable_select{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
header{
	position: fixed;
  top: 0;
/*  background: rgba(255, 255, 255, 0.98);*/
/*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);*/
  background: rgba(255, 255, 255, 0)!important;
	width: 100%;
	height: 80px;
  min-width: 1200px;
  z-index: 9999999;
}
#title_bar{
  width: 100%;
  height: 100%;
}
#title_bar>span:nth-child(1).iconfont{
	font-family: iconfont;
	font-size: 3em;
  color: white;
  text-shadow:0 0 0.2em rgba(204,204,204,1),
              0 0 0.2em rgba(204,204,204,.4);
  margin-left: 100px;
  float: left;
  line-height: 80px;
}
#title_bar>span:nth-child(1).active{
  color: white;
  cursor: pointer;
  text-shadow:0 0 0.2em rgba(28,128,187,.8),
              0 0 0.6em rgba(28,128,187,.3);
}
#title_bar>p{
  display: inline-block;
  font-size: 1.6em;
  margin-left: 12px;
  margin-bottom: 0;
  float: left;
/*  color: rgba(85,85,85,.4);*/
  color: rgba(255,255,255,.88);
  line-height: 90px;
}
#title_bar>p.active,.bar_right>span:hover{
  cursor:pointer;
  background: linear-gradient(-45deg, #ee7752, #7d72db, #23a6d5, #7ed3f2);
  background-size: 300% 300%;
  animation: tran 5s ease infinite;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bar_right{
  float: right;
  line-height: 80px;
}
.bar_right>span{
  margin-right: 20px;
  color: rgba(255,255,255,.88);
}
.bar_right:last-child{
  margin-right: 100px;
  margin-left: 0;
}
#center>img{
  width: 100%;
  height: auto;
  z-index: -9999;
  min-width: 1200px;
/*  position: absolute;
  top: 0;
  left: 0;*/
  -webkit-user-drag: none;
  pointer-events:none;
}
#title_bar.scroll{
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
  z-index:999999;
}
#title_bar>p.scroll{
  color: rgba(85,85,85,.4);
}
.bar_right>span.scroll{
  color: rgba(33,37,41,.66);
}
#content{
  width: 100%;
  min-width: 1200px;
  position: absolute;
  top: 0;
  left: 0;
}
#content>h1{
  color: rgba(255,255,255,.94);
  margin-top: 180px;
  margin-bottom: 50px;
  animation: txt_animation .8s .4s;
  animation-fill-mode:both;
}
#content>p{
  color: rgba(255,255,255,.9);
  font-size: 24px;
  animation: txt_animation .8s .4s;
  animation-delay: .9s;
  animation-fill-mode:both;
}
#content>button{
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 10em;
  text-align: center;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: rgba(255,255,255,.66);
  background: rgba(255,255,255,0);
  border: 1px solid  rgba(255, 255, 255, .66);
  margin-top: 80px;
  animation: txt_animation .8s .4s;
  animation-delay: 1.6s;
  animation-fill-mode:both;
/*  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);*/
}
#content>button:hover{
  color: rgba(255,255,255,.8);
  border: 1px solid  rgba(255, 255, 255, .8);
  box-shadow: .5px .5px 1px 1px rgba(255, 255, 255, 0.66);
}
button:focus {
  border: 0 none;
  outline: none;
}
#more{
  margin-top: 50px;
  min-width: 1200px;
}
#more>h1{
  clear: both;
}
#more>h1:nth-child(3){
  padding-top: 30px;
  margin-bottom: 50px;
  line-height: 60px;
}
#show_box{
  width: 60%;
  margin: 0 auto;
  min-width: 1200px;
/*  margin-top: 50px;*/
/*  margin-bottom: 1000px;*/
}
#show_box>div{
  float: left;
  width: 33.3%;
}
#show_box>div>.icon {
   width: 6em; 
   height: 6em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
#show_box>div>h4{
   margin-top: 30px;
   font-size: 1.4em;
}
#show_box>div>p{
  margin-top: 20px;
  font-size: 1.2em;
}
#box_2>.iconfont{
  font-family: iconfont;
  color: rgba(28,128,187,.6);
  font-size: 6em;
  margin-top: -2px;
  height: 102px;
}
#box_1,#box_2,#box_3{
    padding-top: 50px;
    padding-bottom: 50px;
}
#box_1:hover,#box_2:hover,#box_3:hover{
    cursor:pointer; 
    box-shadow: 2px -2px 4px 2px rgba(150, 150,150, 0.06),
              -1px 1px 2px 1px rgba(150, 150,150, 0.06);
}
#tab_1,#tab_2{
  min-width: 1200px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#tab_2{
  margin-top: 60px;
  margin-bottom: 40px;
}
#t_left{
/*    border: 2px solid rgba(150, 150,150, 0.2);*/
  box-shadow: 2px -2px 4px 2px rgba(150, 150,150, 0.06),
              -1px 1px 2px 1px rgba(150, 150,150, 0.06);
  padding: 10px;
  padding-left: 20px;
  padding-top: 30px;
}
#t_left:hover{
/*    border: 2px solid rgba(150, 150,150, 0.2);*/
  box-shadow: 3px -3px 5px 3px rgba(150, 150,150, 0.06),
              -2px 2px 3px 2px rgba(150, 150,150, 0.06);
}
#t_right{
  margin-left: 100px;
}
#t_right_m{
  display: none;
}
#t_right>h2,#t2_left>h2{
  color: rgb(0, 162, 255);
}
#t_right>h2:hover,#t2_left>h2:hover{
    text-shadow: 2px 2px 2px rgba(0, 162, 255,.12);
/*    opacity: 1;*/
    cursor: pointer;
}
#t_right>#line,#t2_left>#line{
  width: 100%;
  height: 2px;
  background: rgb(0, 162, 255);
  margin-top: 20px;
  margin-bottom: 50px;
}
#line_l{
  width: 100%;
  height: 2px;
  margin-top: 60px;
  background: rgba(150, 150,150, 0.04);
}
#t2_right{
  width: 680px;
  height: 440px;
/*  overflow-y: scroll;*/
}
h2>.iconfont{
  font-family: iconfont;
  margin-right: 10px;
}
#t_right>li,#t2_left>li{
  text-align: left;
  margin-top: 20px;
  font-size: 1.2em;
  color: rgb(89, 89, 89);
  letter-spacing: .1em;
}
#t_right>li:hover,#t2_left>li:hover{
    text-shadow: 3px 3px 3px rgba(89, 89, 89,.22);
/*    opacity: 1;*/
    cursor: pointer;
}
#t2_left{
   margin-right: 100px;
}
#t2_left>h2>.icon{
  margin: 0;
  margin-right: 6px;
  font-size: 1.5em;
  height: .9em;
  width: .9em;
}
table{
  width: 100%;
  height: 400px;
  table-layout: fixed;
  border-collapse:collapse;
}
th,td,tr{
  text-align: center;
}
th{
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  background: rgba(235,235,235,.22);
  border: 1px solid rgba(235,235,235);
}
td{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.8);
}
td:nth-child(2){
  text-align: left;
  padding-left: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
tr>th:nth-child(1),tr>td:nth-child(1){
    width:8%;
}
tr>th:nth-child(2),tr>td:nth-child(2){
    width:53%;
}
tr>th:nth-child(3),tr>td:nth-child(3){
    width:12%;
}
tr>th:nth-child(4),tr>td:nth-child(4){
    width:16%;
}
tr>th:nth-child(5),tr>td:nth-child(5){
    width:11%;
}
tr:nth-child(even){
  background: rgba(255,255,255);
  border: 1px solid rgba(235,235,235);
}
tr:nth-child(odd){
  background: rgba(235,235,235,.22);
  border: 1px solid rgba(235,235,235);
}
td{
  border: 1px solid rgba(235,235,235);
}
tr:hover{
  background: rgba(0,0,0,.4);
}
tr:nth-child(1):hover{
  background: rgba(235,235,235,.22);
  border: 1px solid rgba(235,235,235);
}
tr:hover td{
  color: rgba(255,255,255);
}
#des{
    text-align: center;
    font-size: 24px;
    color: #5f6464;
    line-height: 54px;
/*    padding: 105px 0 74px;*/
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 60px;
}
footer{
  width: 100%;
  height: 100px;
  min-width: 1200px;
  margin-bottom: 20px;
  clear: both;
}
footer>.iconfont{
  font-family: iconfont;
  font-size: 2em;
  text-align: center;
  color: rgba(153,153,153,.66);
  text-shadow:0 0 0.1em rgba(210,210,210,1),
              0 0 0.1em rgba(210,210,210,1);
}
/*footer>.iconfont:hover{
  color: rgba(255,255,255,.88);
  text-shadow:0 0 0.1em rgba(28,128,187,.9),
              0 0 0.4em rgba(28,128,187,.6);
  text-shadow:0 0 0.1em rgba(0,0,0,.9),
              0 0 0.4em rgba(0,0,0,.6);
  text-stroke:1.5px rgba(0,0,0,.9);
  cursor: pointer;
}*/
footer>p{
  text-align: center;
  margin:0 auto; 
  color: rgba(153,153,153,1);
  transition: all 0.3s;
  opacity: 0.7;
}
footer p:hover {
    text-shadow: 3px 3px 3px #999;
    opacity: 0.8;
    cursor: pointer;
}
::-webkit-scrollbar {
  width: 0.44rem;
  height: 0.44rem;
  background-image: linear-gradient(135deg, rgba(29,233,182,.98) 0%, rgba(8, 196, 219, .5) 72%, rgba(0, 182, 234, .3) 100%);
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, rgba(0,255,127,.98) 0%, rgba(8,196,219,.96) 72%, rgba(5,116,148,.94) 100%);
  transition: all .2s;
  border-radius: 0.44rem;
}
::-webkit-scrollbar-thumb:hover {
  border: .44px solid rgba(255,255,255,.88);
}
div::-webkit-scrollbar{
  background-color: rgba(150,150,150,.2);
  background-image: none;
  width: 10px;
  border:1px solid rgba(150,150,150,.08);
}
div::-webkit-scrollbar-thumb{
  background-color: rgba(150,150,150,.4);
  background-image: none;
  width: 10px;
}
div::-webkit-scrollbar-thumb:hover{
  border: none;
  background-color: rgba(150,150,150,.6);
  background-image: none;
}
@keyframes tran{
  0% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 90% 50%;
  }100% {
    background-position: 20% 50%;
  }
}
@keyframes txt_animation {
    0% {
        transform: translateY(100%);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}